@import url("animation.css") screen;

/* Responsive for Tablets and Monitors */
@media screen and (max-width: 980) {
	html {
   	padding: 15px;
      margin: 15px;
      height: 100%;
      width: 99%;
      display: table;
	}

	body {
      display: table-row;
	}
}

#container {
   padding: 15px;
   /*font-size: 12px;*/
   margin: 15px;
	display: table-cell;
	border: solid black;
}

header {
	text-align: center;
	border: solid black;
}

nav {
	text-align: center;
	/*border: solid black;*/
}

nav li {
	display: inline;
}

/* CSS Cycling Slideshow */
#content-slider {
   width: 100%;
   height: 100%;
   margin: 10px auto 0;
}

#slider {
   /*background: #000;*/
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   max-height: 100%;
   max-width: 100%;
   padding: 15px;
   margin: 15px auto 0;
   overflow: visible;
   position: relative;
}

#mask {
	overflow: hidden;
	height: 220px;
}

#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
   max-width: 100%;  /* Width Image */
   max-height: 100%; /* Height Image */
   position: absolute;
   top: -225px; /* Original Position - Outside of the Slider */
   list-style: none;
}

#slider img {
   zoom: 2;

   display: block;
   margin-left: auto;
   margin-right: auto;
   vertical-align: auto;
   height: 100%;
   width: 100%;
   max-height: 100%;
   max-width: 100%;
}

#slider li.firstanimation {
   -moz-animation:cycle 25s linear infinite; 
   -webkit-animation:cycle 25s linear infinite;    
}
#slider li.secondanimation {
   -moz-animation:cycletwo 25s linear infinite;
   -webkit-animation:cycletwo 25s linear infinite;    
}
#slider li.thirdanimation {
   -moz-animation:cyclethree 25s linear infinite;
   -webkit-animation:cyclethree 25s linear infinite;     
}
#slider li.fourthanimation {
   -moz-animation:cyclefour 25s linear infinite;
   -webkit-animation:cyclefour 25s linear infinite;      
}
#slider li.fifthanimation {
   -moz-animation:cyclefive 25s linear infinite;
   -webkit-animation:cyclefive 25s linear infinite;      
}

#slider .tooltip {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: relative;
   bottom: 75px;
   left: -320px;
   -moz-transition:all 0.3s ease-in-out;
   -webkit-transition:all 0.3s ease-in-out;  
}

#slider .tooltip h1 {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}

#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip,
#slider li#fifth:hover .tooltip {
   left: 0px;
}

.progress-bar {
   position: relative;
   top: -5px;
   width: 680px;
   height: 5px;
   background: #000;
   -moz-animation:fullexpand 25s ease-out infinite;
   -webkit-animation:fullexpand 25s ease-out infinite;
}

#content {
   padding: auto;
   width: 100%;
	border: solid black;
}

#news {
	float: left;
   height: 100%;
	width: 60%;
   padding: 15px;
	border: solid black;
	overflow: auto;
}

#side {
	display: inline-block;
   text-align: center;
   padding: 15px;
	border: solid black;
	width: 30%;
}

#recipe {
   margin: 15px;
   padding: 15px;
   border: solid black;
}

#recipe img {
   max-width: 100%;
   max-height: 100%;
}

#ads {
   width: 100%;
   height: 100%;
   border: solid black;
}

#ads img {
   max-width: 100%;
   max-height: 100%;
}

#bottom {
	clear:both;
   width: 99.55%;
   text-align: center;
   overflow: auto;
   border: solid black;
}

#staff {
   margin: 15px;
   padding: 15px;
   float: left;
   width: 26%;
   border: solid black;
}

#staff img {
   max-width: 80%;
   max-height: 80%;
}

#staff li {
   display: inline-block;
   text-justify: distribute-all-lines;
}

#poll {
   /*float: center;*/
   display: inline-block;
   margin: 15px;
   padding: 15px;
   max-width: 26%;
   border: solid black;
   overflow: auto;
}

#list {
   margin: 15px;
   padding: 15px;
   float: right;
   width: 26%;
   border: solid black;
}

footer {
   clear: both;
   width: 99%;
   border: solid black;
}

footer span {
   margin-left: 250px;
}